@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional reset */
body {
  @apply font-sans;
}

:root {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.font-medium {
  font-weight: 500;
}

.bg-primary-900 {
  background-color: #3758f9;
}

.bg-primary-50 {
  background-color: #edf0ff;
  color: #4b68ff;
}

.bg-primary-50-1 {
  background-color: #edf0ff;
}
